@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');


:root{
    --color-blue:#020021;
    --color-green:#00f482;
    --color-gray:#5b5573;
    --color-white:#ffffff;
    --color-none:rgba(255, 255, 255,0);
    --color-shadow: rgba(2, 0, 33, 0.8 );
    --color-black: black;
    --letter: 'Inter', sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:var(--letter) ;
    font-size: 16px;
    width: 100%;
    background-color:var(--color-blue);
}


header{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.hamburger-menu{
    background-color:var(--color-green);
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    
}

.img-title {
    text-align: center;
    margin: 0.8rem 0;  
}

.logo{
    width: 55%;
    height: 15%;
}

.nav{
    display: flex;
    align-self: flex-end;
    position: relative;
}

.list{
    display: none;
    flex-direction: column;
    background-color: var(--color-shadow);
    color: var(--color-white);
    list-style: none;
    gap: 0.3rem;
    position: absolute;
    z-index: 1;
    top: 2.2rem;
    right:0;
} 

.list-item{
    background-color: var(--color-shadow);
    padding: 0.7rem 32vw;   
}

a{
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-green);
 
}

 i{
    position: absolute;
    background-color: var(--color-green);
    align-self: flex-end;
    left: 0.93rem;
    color: var(--color-white);
 }

main{
display: flex;
flex-direction: column;
align-content: flex-end;
justify-content: center;
align-items: center;
 height: 70vh;
}

h1 {
    color: var(--color-white);
    inline-size: 12.5rem;
    overflow-wrap: break-word
}

.main-paragraph{
    color: var(--color-gray);
    margin-bottom: 0;
    font-size: 0.7rem;
    padding: 0.5rem 0 1rem 0; 
}


.btn1{
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 1.81rem;
    padding: 0.9rem 2rem;
    border: 0;
}

 .gg-menu-right-alt {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 16px;
    height: 14px;
    transform: scale(var(--ggs,1))
   }
   
   .gg-menu-right-alt::after,
   .gg-menu-right-alt::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: block;
    height: 2px;
    border-radius: 4px;
    background: currentColor
   }
   
   .gg-menu-right-alt::before {
    width: 16px;
    box-shadow: 0 12px 0
   }
   
   .gg-menu-right-alt::after {
    width: 10px;
    right: 0;
    top: 6px
   } 

.audio-sound{
    display: none;
    height: 0;
}

.sound-box{
    position: relative;
    width: 100%;
    
}

.main-picture{
    width: 100%;
    height: 0;
}

.domboom-img{
    width: 100%;
    height: 100%;
    padding: 0.1rem 0.6rem 1.25rem;
}

.drums-instrument{
    width: 25%;
    height: 30%;
    border-radius: 50%;
    background-color:var(--color-none);

}

.tom-instrument{
    width: 15%;
    height: 20%;
    border-radius: 50%;
    background-color: var(--color-none);

}


.bombo{
    position: absolute;
    right: 60%;
    bottom: 20%;
}

.crash{
    position: absolute;
    right: 14%;
    bottom: 20%;
}

.redoblante{
    position: absolute;
    right: 50%;
    bottom: 52.5%;
}

.hit-hat{
    position: absolute;
    right: 25%;
    bottom: 52.5%;
}

.tom1{
    position: absolute;
    right: 12.5%;
    bottom: 50%;
}

.tom2{
    position: absolute;
    right: 74%;
    bottom: 50%;
}

.tom3{
    position: absolute;
    right: 6%;
    bottom: 69%;
}

.tom4{
    position: absolute;
    right: 79%;
    bottom: 69%;
}

.cursor-shape:hover{
    cursor: grab;
}

.second-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1rem 0 2rem;
}

h1{
    color: var(--color-white);
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: bolder;

}
   

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin-top: 2rem;
}

.footer-picture{
    margin-bottom: 4rem;
}

h2{
    color: var(--color-white);
    font-size: 1.2rem;
}

.p-paragraph{
    color: var(--color-gray);
    text-align: center;
    margin-left: 0;
    font-size: 0.6rem;
}

.btn2{
  background-color: var(--color-white);
  border-radius: 1.81rem;
  color: var(--color-black);
  font-weight: bold;
  padding: 0.5rem 0.8rem;
}


@media screen and (min-width: 600px) {

    .img-title {
        margin-top: 2rem;
       margin-left: 15rem;
        float: left;
    }
    .hamburger-menu {
        display: none;
    }
    .list {
        display: flex;
       flex-direction: row;
       padding: 0.2rem;
       margin-left: 28rem;
       gap: 0.3rem;
       border: 0.2rem solid red;
    }
    
    .list li:hover {
        color: var(--color-green);
    }
    .sign::after {
        content: "";
        background-color: var(--color-green);
        margin-left: 0.25rem;
        position: absolute;
        height: 50%;
        width: 0.125px;
    }
    
    .footer-picture{
        padding-bottom: 20%;
        display: none;
       
    }
    
    footer{
        padding: 2em;
    }

    h2{
        font-size: 3rem;
    }
    
}








    
 







