@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #020021;

}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.hamburger-menu{
    background-color: #00F482;
    border-radius: 29px;
    padding: 10px 30px;
}

.img-title {
    text-align: center;
    margin-top: 40px;
}

.nav{
    align-self: flex-end;
    position: relative;
}

.list{
    display: none;
    flex-direction: column;
    background-color: rgba(2, 0, 33, 0.1 );
    color: white;
    list-style: none;
    gap: 15px;
    position: absolute;
}

a{
    text-decoration: none;
    color: white;
    
}

 i{
    position: absolute;
    background-color: #00F482;
    align-self: flex-end;
    left: 15px;
 }


h1 {
    color: white;
    margin-left: 60px;
}

p {
    color: #5B5573;
    margin-left: 60px;
    margin-top: 10px;
}

div {
    margin-left: 60px;
    
}
.btn {
    background-color: #00f482;
    color: white;
    padding: 10px;
    border-radius: 29px;
    margin-top: 7px;

}


 .gg-menu-right-alt {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 16px;
    height: 14px;
    transform: scale(var(--ggs,1))
   }
   
   .gg-menu-right-alt::after,
   .gg-menu-right-alt::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: block;
    height: 2px;
    border-radius: 4px;
    background: currentColor
   }
   
   .gg-menu-right-alt::before {
    width: 16px;
    box-shadow: 0 12px 0
   }
   
   .gg-menu-right-alt::after {
    width: 10px;
    right: 0;
    top: 6px
   } 

.audio-sound{
    display: none;
}

.sound-box{
    position: relative;
    width: 100%;
}

.crash, .bombo, .redoblante, .hit-hat{
    width: 20%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.tom1, .tom2, .tom3, .tom4{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: white; 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.domboom-img{
    width: 100%;
    padding: 20px 10px;
}

h1{
    color: white;
}
   
p{
    color: #5B5573;
}

footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.d{

    padding: 80px;
   
}

.pp {
    
    font-size: 13PX;
    color: #5b5573;
    text-align: center;
    margin-left: 0;
}
h2{
    color: white;
}


.btn1{

  background-color: white;
  border-radius: 29px;
  padding: 10px;
  color: black;
  font-weight: bold;
  margin: 5px;
}
.alt{
    width: 350px;
    height: 350px;
}