


body{
    background-color: #020021;
}
.d{
    padding: 80px; 
}

.pp {
    color: rgb(255, 255, 255);
    font-size: 14PX;
}
h2{
    color: white;
}
footer{
text-align: center;

}
p{
    color: #5b5573;
    
}
.btn1{
  border-radius: 29px;
  padding: 10px;
  color: black;
  font-weight: bold;
  margin: 5px;
}



